* {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: silver;
	font-family: sans-serif;
}

#level_title {
	font-size: 18px;
	color: black;		
	font-weight: bold;
}

#level_image {
	height: 500px;
}