body { 
	background-color: black; 
	color: rgba(0, 255, 0, 1);}

#modal { 
	display: none; 
    position: fixed;
    	left: 25%;
    z-index: 3; 
    padding-top: 100px;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;}

.tab { 
	border-style: solid;
	border-color: rgba(0, 255, 0, 1);
	width: 87.5%; 
	height: 34px;
	margin: 0px 5% 0px 5%;}

.tab li { 
	float: left; }

ul.tab li a:focus, .active { 
	color: rgba(0, 255, 0, 1); 
	cursor:default;}

button { 
	padding: 10px;
	color:  white ;
	background-color: black;
	border: 1px solid;
	border-color: rgba(0, 255, 0, 1); 
	font-family: "Courier New", Courier, monospace;}

.screen { 
	display: none;
	border-style: solid;
	border-color: rgba(0, 255, 0, 1);
	width: 80%; 
	height: 60%; 
	float: right;
	margin: 10px 5% 0px 0%;
	position: absolute; 
	overflow-y: scroll;
	left: 15%; }

.blink { 
	animation: blink 1s infinite }

@keyframes blink { 
	0% { background-color: black;}
	25% { background-color: rgba(0, 255, 0, 1);}
	75% { background-color: rgba(0, 255, 0, 1);}
	100% { background-color: black;}}

nav { 
	color: white; 
	background-color: black; 
	border-style: solid;
	border-color: rgba(0, 255, 0, 1); 
	margin: 10px 0px 0px 5%;
	position: relative;
	float: left;
	width: 9%; 
	text-align: left;
	z-index: 1 ;}

.tekst { 
	display: inline; 
	color: rgba(0 ,225, 0, 1);
	overflow: hidden;
	margin: 0 auto;
	animation: text 3.5s steps(40, end);}

@keyframes text { 
	from {width: 0%;}
	to { width: 100%;} }

.blink {
	display: inline; }

#menu { 
	border-style: solid;
	border-color: rgba(0, 255, 0, 1);
	width: 90%;
	height: 20%;
	margin: 0px 5% 0px 5%;
	position: fixed;
	bottom: 0px;}

#menu-t { 
	color: white; }

#execute { 
	margin: 16px 10px 16px 10px;}

.choice { 
	float: left;
	display: block; 
	margin: 0px}

#pic { 
	float: right;
	height: 75%;
	width: 20%; 
	margin: 0px 1% 0px 0px; }

p { 
	color: rgba(0, 255, 0, 1);
	margin: 16px 10px 16px 10px;
	font-family: "Courier New", Courier, monospace;}

ul {
	padding: 0px 40px 5px 10px;}


li { 
	list-style-type: none;
	font-family: "Courier New", Courier, monospace}

button, li, #pic { 
	cursor:pointer; }

